html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #293651;
}

.container1 {
  padding: 23px 150px 90px 150px;
  text-align: center;
}

.text2 {
  font-size: 56px;
  font-weight: 200;
  color: #00a78e;
}

.text1 {
  font-size: 50px;
}

.text3 {
  font-size: 25px;
  font-weight: 200;
}

.p1 {
  color: #a1a6a9;
  font-size: 32px;
  text-align: left;
}
.botao {
  width: 320px;
  height: 80px;
  padding: 0px;
  margin-bottom: 80px;
  border: none;
  background-color: #00a78e;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  border-radius: 10px;
}

.img-enzo1 {
  text-align: center;
  height: 725px;
}
.container2 {
  padding: 23px 150px 90px 150px;

}
.text-sobre{
  font-size: 56px;
  font-weight: 200;
  color: #00a78e;

}
.text-who{
  font-size: 40px;
  margin-bottom: 28px;
}

.imagem-sobre-enzo {
  display: inline-block;
  width: 49%;
}
.texto-sobre-enzo {
  text-align: justify;
  font-size: 30px;
}
.img-enzo2 {
  height: 703px;
  49%
}

.medir-habilidade {
  width: 100%;
}
.p2 {
  display: inline-block;
}

.p-porcentagem {
  float: right;
}

progress {
  border: 0;
  width: 500px;
  height: 15px;
}

progress::-webkit-progress-value {
  background: #00a78e;
  border-radius: 10px;
}

progress::webkit-progress-bar {
  background: #a1a6a9;
  border-radius: 10px;
}

.container3 {
  background-color: #f9f9f9;
  height: 870px;
}

.linha-projetos {
  padding: 23px 150px 90px 150px;
}

.coluna1 {
  display: inline-block;
  width: 30%;
  height: 450px;
  background-color: #ffff;
  box-shadow: 10px 10px 5px #00a78e;
}

.coluna2 {
  display: inline-block;
  width: 30%;
  height: 450px;
  background-color: #ffff;
  margin: 66px;
  box-shadow: 10px 10px 5px #00a78e;
}
.coluna3 {
  display: inline-block;
  width: 30%;
  height: 450px;
  background-color: #ffff;
  box-shadow: 10px 10px 5px #00a78e;
}

.icon-projetos {
  height: 90px;
  margin: 30px;
}

.margin-projetos {
  margin: 30px;
}

footer {
  position: absolute;
  bottom: auto;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 115px 0px 120px;
}

.texto-footger {
  letter-spacing: 5px;
}

.texto-freelancer {
  font-family: open sans, sans-serif;
  margin-bottom: 60px;
}
